*{padding: 0;margin: 0;font-family: sans-serif;-webkit-tap-highlight-color: rgba(0,0,0,0);}
a, button{text-decoration: none;transition-duration: 0.3s;}
*:not(button), *:not(label){color: #DC143C;}
::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background: #1e1e1e;border: none;}
::-webkit-scrollbar-track:hover {background: #2F2B34;}
::-webkit-scrollbar-thumb {background: #DC143C;}
::-webkit-scrollbar-thumb:hover {background: #EC244C;}
body{
    background-color: #121212;
    background-image: linear-gradient(45deg, #121212 25%, #323232 25%, #323232 50%, #121212 50%, #121212 75%, #323232 75%, #323232 100%);
    background-size: 56.57px 56.57px;
}
/*     NAVBAR     */
header{
    position: fixed;z-index: 2;
    width: 100%;background-color: #222 ;
    display: flex;flex: 1;
    align-items: center;
}
header p{font-size: 30px;padding: 10px 10px 10px 20px;font-weight: bold;}
header nav{position: absolute;right: 10px;display: flex;align-items: center;}
nav button{display: none;}
.fa-times{margin: 12px -63px 0px 0px;font-size: 15px;}
.menu-list {list-style: none;display: flex;}
.menu-list li {display: inline-block;margin-left: 0px;cursor: pointer;}
header a{padding: 10px 20px;font-size: 22px;border: 3px solid #DC143C00;}
header a:hover{border-bottom: 3px solid #DC143C;}
/*     SUB PAGES     */
#home, #about, #projects, #contact, #all_projects{
    min-height: 100vh;max-width: 100vw;
    display: flex;flex: 1;justify-content: space-evenly;
    align-items: center;
    background-color: #0006;
}
#all_projects{flex-wrap: wrap;flex-direction: row;justify-content: center;background-color: #0000;}
#home{flex-direction: row;}
#about{flex-direction: column;}
#projects{flex-direction: column;justify-content: center;}
#contact{flex-direction: row;}
/*     TYPOGRAPHY     */
#home p, #about p, #projects p, #contact p{
    font-size: 20px;
    text-shadow: 0px 0px 5px #000;-webkit-text-stroke: 1px #0002;
}
#home h1, #about h1, #projects h1, #contact h1, #about h3{
    font-size: 45px;margin: 0px 0px 10px 0px;
    text-shadow: 0px 0px 5px #000;-webkit-text-stroke: 2px #0004;
}
#about h1::before, #projects h1::before, #contact h1::before{
    content: "</";
}
#about h1::after, #projects h1::after, #contact h1::after{
    content: ">";
}
#about h1, #projects h1{padding: 55px 0px 0px 0px;}
#about h3{font-size: 24px;}
/*     BUTTONS     */
.project .view, #form button{
    min-width: 100px;max-width: 200px;width: 25%;
    color: #F3F9E3;background-color: #DC143C;
    border: 2px solid #DC143C;border-radius: 4px;
    font-size: 18px;padding: 8px 0px;
}
.project .view:hover, #form button:hover{background-color: #121212;color: #DC143C;}
/*     HOME     */
#home img{
    height: 300px;margin: 20px;
    border: 1px solid #DC143C55;border-radius: 8px;box-shadow: 0px 0px 1px 1px #DC143C55;
    /*filter: drop-shadow(-5px -5px 2px #DC143Caa) contrast(120%) saturate(120%);*/
}
#home .icons{
    font-size: 30px;line-height: 45px;text-align: center;margin: 10px 4px;
    border: 2px solid #DC143C;border-radius: 50%;
    height: 45px;width: 45px;background-color: #0009;
    text-shadow: 0px 0px 5px #000;-webkit-text-stroke: 2px #0004;box-shadow: 0px 0px 5px 3px #0004;
}
.fa:hover{opacity: 0.8;}
/*     ABOUT     */
#about #grids #in_row{display: flex;flex-direction: row;}
#about #grids #in_row .grid{width: 30%;}
#about #grids section:not(#in_row){
    background-color: #eee1;-webkit-backdrop-filter: blur(3px);backdrop-filter: blur(3px);
    box-shadow: 0px 0px 4px 2px #0009;border-radius: 4px;padding: 20px;margin: 20px;
}
#about #grids section span{font-weight: bold;}
#about hr{margin: 10px 0px 15px 0px;border: 1px solid #DC143C;box-shadow: 0px 0px 5px 3px #0007;}
/*     PROJECTS     */
.project{
    min-height: 200px;min-width: 240px;max-width: 330px;
    flex: 30%;display: flex;flex-direction: column;align-items: center;justify-content: center;
    margin: 20px;padding: 20px 10px;text-align: center;
    border: 1px solid #0004;border-radius: 5px;box-shadow: 0px 0px 5px 3px #0007;
    background-color: #0000;position: relative;transition-duration: 0.4s;
}
.project .view{opacity: 0;}
.project:hover{background-color: #000;border: 1px solid #DC143Caa;box-shadow: 0px 0px 5px 3px #DC143C99;}
.project:hover #title, .project:hover #description, .project:hover .view{opacity: 1;}
.before_project{
    height: 100%;width: 100%;background-size: cover;border-radius: 5px;
    position: absolute;top: 0px;left: 0px;z-index: -1;
}
.project #title{font-size: 22px;font-weight: bold;}
.project #description{font-size: 18px;margin: 10px 0px 20px 0px;}
.project #title, .project #description{transition-duration: 0.4s;opacity: 0;}

/*     CONTACT     */
#contact section{margin: 10px;}
#form{
    background-color: #eee1;-webkit-backdrop-filter: blur(3px);backdrop-filter: blur(3px);
    padding: 10px;width: calc(100% - 50px);max-width: 500px;
    border: 1px solid #0002;border-radius: 4px;box-shadow: 0px 0px 4px 2px #0009;
}
#form label{
    font-size: 14px;color: #F3F9E3;background-color: #DC143C;
    position: relative;top: 8px;left: 10px;z-index: 2;
    padding: 2px;border: 2px solid #DC143C;border-radius: 4px;
}
#form input[type="text"], textarea{
    width: calc(100% - 8px);height: 30px;
    margin: 0px 0px 10px 0px;padding: 5px 0px 0px 5px;
    border: 2px solid #DC143C;border-radius: 4px;outline: none;
    font-size: 16px;background-color: #121212;
}
#form textarea{height: 150px;padding: 10px 0px 0px 5px;}
/*     MEDIA QUERIES     */
@media screen and (max-width: 900px) {
    #about #grids #in_row{flex-direction: column;}
    #about #grids #in_row .grid{width: auto;}
}
@media screen and (max-width: 760px) {
    #home, #contact{flex-direction: column;justify-content: center;}
    #home #myInfo, #contact #text{text-align: center;}
}
@media (max-width: 660px){
    header a:hover{border: 3px solid #DC143C;}
    nav button{
        display: block;
        width: 40px;height: 40px;
        border: none;outline: none;
        background: transparent;color: var(--pri);
        font-size: 32px;
        cursor: pointer;
        z-index: 2;
    }
    nav i.fa-times,nav.opened i.fa-bars{display: none;}
    nav.opened i.fa-times,nav i.fa-bars{display: block;animation: enter 0.8s;}
    @keyframes enter{0% {opacity: 0;}100% {opacity: 1;}}
    .menu-list{
        position: fixed;top: 0;right: 0;z-index: 1;
        width: 80%;height: 100%;
        background-color: #000b;color: var(--pri);
        padding: 80px 46px 46px 46px;
        flex-direction: column;align-items: flex-end;
        transform: translateX(100%);transition: transform 0.4s;
    }
    .menu-list li{font-size: 1.7em;margin: 32px 0px;}
    nav.opened .menu-list{transform: translateX(0);}
    nav.opened button{color: var(--pri);position: fixed;margin: -20px 0px 0px 0px;right: 40px;}
}
